
.App {
 background: black;
  width: 1,440px;
  overflow-y: hidden;
  overflow-x: hidden; /* Evita o overflow horizontal */
 

}
/* src/App.css */


.hide-banner {
  display: none;
}

/* Adicione a classe hide-banner ao banner quando a URL for /actor/:id */

